/* css/style.css */
  #cont {
      width: 80%;
      max-width: 1080px;
      height: 600px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin: auto;
      border: 1px solid;
  }

  .inner {
      width: 18%;
      min-width: 194px;
      height: 200px;
      flex: 1 1 auto;
      background-color: #55aa60;
  }

  @media only screen and (max-width: 1000px) {
      #cont {
          flex-wrap: wrap;
      }
  }
  @media only screen and (max-width: 500px) {
      #cont {
          flex-direction: column;
          flex-wrap: nowrap;
      }
      .inner {
          flex: auto;
      }
  }
